<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>

     <h1>This button has been pushed <%= count %> times</h1>
     <p>push the button to update the count</p>

     <a href="/add"><button type="button" name="button">PUSH THE EPIC BUTTON</button></a>
     <a href="/reset"><button type="button" name="button">RESET</button></a>
  </body>
</html>