<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h1>Counter</h1>
     <p><%= count %> times</p>

     <a href="/add"><button type="button" name="button">Ninja lvl 1 (+3)</button></a>
     <a href="/reset"><button type="button" name="button">Ninja lvl 2 (Reset to 1)</button></a>
  </body>
</html>