<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container">
		<div>
			<form action="/messages" method="post">
				<div>
					<label>Name:</label>
				</div>
				<div>
					<input type="input" name="name">
				</div>
				<div>
					<label>Quotes:</label>
                </div>
                <p1>---------------------------------------------------------</p1></br>
				<div>
					<textarea rows="4" name="message"></textarea>
				</div>
				<input type="submit" value="Post Message">
            </form>
        </div>

</body>
</html>